input[type=range].form-range {
	width: 100%;
	height: auto;
	margin: calc(0.4rem + 1px) 0 0;
	background-color: transparent;
	-webkit-appearance: none;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
input[type=range].form-range:focus {
	outline: none;
}

input[type=range].form-range::-webkit-slider-runnable-track {
	background: #dfe3e7;
	border: 0.2px solid #010101;
	border-radius: 0.25rem;
	width: 100%;
	height: 0.8rem;
	cursor: pointer;
}
input[type=range].form-range:focus::-webkit-slider-runnable-track {
	background: #eef0f2;
}
input[type=range].form-range::-moz-range-track {
	background: #dfe3e7;
	border: 0.2px solid #010101;
	border-radius: 0.25rem;
	width: 100%;
	height: 0.8rem;
	cursor: pointer;
}
input[type=range].form-range::-ms-track {
	background: transparent;
	border-color: transparent;
	border-width: 7.8px 0;
	border-radius: 0.25rem;
	color: transparent;
	width: 100%;
	height: 0.8rem;
	cursor: pointer;
}

input[type=range].form-range::-webkit-slider-thumb {
	width: 0.7rem;
	height: 1.5rem;
	background: #ffffff;
	border: 1px solid #000000;
	border-radius: 0.25rem;
	cursor: pointer;
	margin-top: -0.4rem;
	-webkit-appearance: none;
}
input[type=range].form-range::-moz-range-thumb {
	width: 0.7rem;
	height: 1.5rem;
	background: #ffffff;
	border: 1px solid #000000;
	border-radius: 0.25rem;
	cursor: pointer;
}
input[type=range].form-range::-ms-thumb {
	width: 0.7rem;
	height: 1.5rem;
	background: #ffffff;
	border: 1px solid #000000;
	border-radius: 0.25rem;
	cursor: pointer;
	margin-top: 0px;
	/*Needed to keep the Edge thumb centred*/
}

input[type=range].form-range::-moz-range-progress {
	height: 0.8rem;
	background-color: #3071a9;
	border: 0;
	border-radius: 0.25rem 0 0 0.25rem;
}
input[type=range].form-range::-ms-fill-lower {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 0.25rem 0 0 0.25rem;
}
input[type=range].form-range::-ms-fill-upper {
	background: #dfe3e7;
	border: 0.2px solid #010101;
	border-radius: 0 0.25rem 0.25rem 0;
}
input[type=range].form-range:focus::-ms-fill-lower {
	background: #3071a9;
}
input[type=range].form-range:focus::-ms-fill-upper {
	background: #dfe3e7;
}
